# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\FarPlace\Project\WeChatPush\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
